Project1-for-CS3319/Animals_with_Attributes2
Project1-for-CS3319/*.npy
Project1-for-CS3319/_Pycache_
Project2-for-CS3319/Animals_with_Attributes2
Project2-for-CS3319/_Pycache_
Project2-for-CS3319/*.npy
